@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Poppins", sans-serif;
}

.logo {
	font-family: "Comfortaa", cursive;
}

@layer components {
	.input {
		@apply w-full rounded-xl px-5 py-4 sm:px-6 sm:py-4 bg-purple-200 focus:outline-none border border-transparent focus:border-purple-400 text-gray-500 text-sm md:text-base;
	}
	.btn {
		@apply bg-purple-800 px-6 py-2 lg:px-7 shadow-lg hover:bg-white hover:text-purple-800 border border-purple-500 lg:py-4 text-white rounded-lg lg:rounded-2xl text-sm lg:text-base;
	}
}
